<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        background-color: rgb(183, 237, 183);
        box-sizing: border-box;
        overflow: hidden;
    }

    .img2 img {
        position: relative;
        left: 410px;
        height: 98px;
    }

    .img3 img {
        position: relative;
        left: 698px;
        height: 75px;
        top: -99px;
    }

    h1 {
        text-align: center;
        color: rgb(31, 4, 4);
    }

    .img img {
        position: relative;
        height: 370px;
        width: 318px;
        border-radius: 20px;
        top: -71px;
        left: 218px;

    }

    .p {
        position: relative;
        left: 547px;
        top: -120px;
    }

    .p p {
        font-size: 20px;
    }

    .container {
        position: relative;
        top: -79px;
    }

    .geek img {
        position: relative;
        top: -465px;
        left: 582px;
        height: 39px;
    }

    .f {
        position: relative;
        top: -448px;
        left: 646px;
    }

    .f p {
        font-size: 30px;
    }

    .name {
        position: relative;
        top: -488px;
        left: 562px;
    }

    .name p {
        font-size: 38px;
        font-weight: 1000;

    }

    .details {
        position: relative;
        top: -500px;
        left: 641px;
    }

    .details p {
        font-size: 20px;
        font-weight: 600;
        display: inline;


    }

    .b {
        position: relative;
        top: -462px;
        left: 715px;
    }

    .b button {
        border-radius: 10px;
        background-color: black;
        color: aqua;
        font-size: 20px;
    }
    .containerBox {
        position: relative;
        bottom: 3.8rem;
    }
</style>

<body>
    <div class="img2">
        <img src="https://brlakgec.com/assets/Group1.png" alt="">
    </div>
    <div class="img3">
        <img src="https://www.akgec.ac.in/wp-content/themes/twentysixteen/img/AKGEC_1_0.png" alt="">
    </div>
    <div class="p">
        <p>PRESENTS</p>
    </div>

    <div class="containerBox">
    <div class="container">
        <h1>An Exclusive interactive Session With one and only</h1>
    </div>

    <div class="img">
        <img src="https://pbs.twimg.com/profile_images/1383660243587002368/DJQEGX2o_400x400.jpg" alt="">

    </div>
    <div class="f">
        <p>Founder Of</p>
    </div>
    <div class="geek">
        <img src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20200817185016/gfg_complete_logo_2x-min.png"
            alt="">
    </div>
    <div class="name">
        <p>MR.SANDEEP JAIN</p>
    </div>
    <div class="details">
        <p>>DATE:05/12/22</p><br>
        <p>>TIME:2:00 PM</p><br>
        <p>>VENUE:CSIT SEMINAR HALL</p>

    </div>
    <a href="/google" class="b"> <button>Sign Up</button></a>

</div>

</body>

</html>